body {
    background: var(--primary-color);
    display: flex;
    justify-content: center !important;
    padding: 2% 0;
    overflow: hidden;
  }
  
  .container-register {
    background: var(--light-color);
    border-radius: 50px 2px 50px 2px;
    height: 90vh;
    width: 80vw;
    padding: 30px 40px;
  }
  
  .subtitle-orange {
    margin-top: 20px;
  }
  
  form {
    font-size: 12px !important;
    color: var(--grey-color);
    position: relative;
    margin-top:20px;
  }
  
  .container-options{
    overflow-y: scroll;
    height:420px;
    padding:10px;
  }
  
  .container-options::-webkit-scrollbar-track
  {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: var(--light-color);
  }
  
  .container-options::-webkit-scrollbar
  {
    width: 6px;
    background-color: var(--light-color);
  }
  
  .container-options::-webkit-scrollbar-thumb
  {
    background-color: var(--primary-color);
    transition: all 0.2s ease-in-out;
  }
  
  .container-options::-webkit-scrollbar-thumb:hover
  {
    background-color: var(--secondary-color);
  }
  
  .checkbox-block {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: top;
  }
  
  .checkbox-block input{
    margin-top:4px;
  }
  
  .checkbox-block label {
    margin-left: 5px;
  }
  
  .btn-continue {
    width: fit-content;
    margin: 0;
    position: absolute;
    right: 0px;
    bottom: -50px;
  }
  