<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      VIS | plataforma de Voluntariado e Iniciativas de Solidariedade
    </title>
    <link rel="icon" type="image/png" href="../../../assets/img/favicon.png"/>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container-register">
      <h2 class="big-title title-register">Registe-se como voluntário(a)</h2>
      <form [formGroup]="registerForm" class="container-forms" (ngSubmit)="onSubmit(registerForm.value)">
        <div>
          <h3 class="subtitle-orange">Dados pessoais</h3>
              <div>
                <label for="name">Nome:</label>
                <input type="text" formControlName="name" id="name" name="name" placeholder="Nome" />
              </div>
              <div>
                <label for="sexo">Sexo:</label>
                <select type="text" formControlName="gender" id="sexo" name="sexo"placeholder="Sexo" > 
                    <option value="feminino">Feminino</option>
                    <option value="masculino">Masculino</option>
                    <option value="nao">Outro</option>
                </select>
              </div>
              <div>
                <label for="data_nascimento">Data de nascimento:</label>
                <input type="date" formControlName="birthday" id="data_nascimento" name="data_nascimento" placeholder="" />
              </div>
              <div>
                <label for="nacionalidade">Nacionalidade:</label>
                <input type="text" formControlName="nationality" id="nacionalidade" name="nacionalidade" placeholder="Nacionalidade" />
              </div>
              <div class="split-form">
                <div>
                    <label for="documento">Documento de identificação:</label>
                    <select formControlName="idDoc" id="documento" name="documento">
                        <option value="cc">Cartão de Cidadão</option>
                        <option value="bi">Bilhete de Identidade</option>
                        <option value="passaporte">Passaporte</option>
                    </select>
                </div>
                <div>
                  <label for="n_documento">Nº de documento:</label>
                  <input formControlName="idNumber" type="text" id="n_documento" name="n_documento" placeholder="" />
                </div>
              </div>
              <div>
                <label for="nif">Número de identificação fiscal:</label>
                <input formControlName="taxpayerNumber" type="text" id="nif" name="nif" placeholder="NIF" />
              </div>
        </div>
        <div>
          <h3 class="subtitle-orange">Informação de contacto</h3>

            <div>
                <label for="email">Email:</label>
                <input formControlName="email" type="email" id="email" name="email" placeholder="someone@example.com" />
            </div>
            <div>
                <label for="telemovel">Telemóvel:</label>
                <input formControlName="phoneNumber" type="text" id="telemovel" name="telemovel" placeholder="Telemóvel" />
            </div>
            <div>
                <label for="morada">Morada:</label>
                <input formControlName="postalAddress" type="text" id="morada" name="morada" placeholder="Morada" />
            </div>
            <div class="split-form">
                <div>
                    <label for="codigo_postal">Código-postal:</label>
                    <input formControlName="zipCode" type="text" id="codigo_postal" name="codigo_postal" placeholder="" />
                </div>
                <div>
                    <label for="localidade">Localidade:</label>
                    <input formControlName="locality" type="text" id="localidade" name="localidade" placeholder="Localidade" />
                </div>
            </div>
            <div>
                <label for="contatco_emergencia">Contacto de emergência:</label>
                <input formControlName="emergencyPhone" type="text" id="contatco_emergencia" name="contatco_emergencia" placeholder="Contacto de emergência" />
            </div>
            <div>
                <label for="password">Palavra-passe:</label>
                <input formControlName="password" type="password" id="password" name="password" />
            </div>

            <input class="btn-submit btn-continue" (click)="redirectToNextPage()" type="submit" value="Continuar" />
        </div>

      </form>
    </div>
  </body>
</html>

