body {
    background: var(--primary-color);
    display: flex;
    justify-content: center !important;
    /* align-items: center; */
    padding: 2% 0;
    overflow: hidden;
  }
  
  .container-forms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    margin: 40px 0;
  }
  
  form {
    margin: 10px 0 !important;
    position: relative;
  }
  
  form div {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }
  
  form div input,
  select {
    margin-top: 5px;
    border-radius: 10px 0 10px 0;
    height: 30px;
    padding: 0 5px;
    border: 1px solid var(--grey-color);
  }
  
  .split-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
  
  .btn-continue {
    width: fit-content;
    margin: 0;
    position: absolute;
    right: 0px;
    bottom:-40px;
  }
  