<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      VIS | plataforma de Voluntariado e Iniciativas de Solidariedade
    </title>
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png"/>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container-login">
      <div class="left-section">
        <img src="../../assets/img/logoVISlarge.png" alt="" />
      </div>
      <div class="right-section">
        <h2 class="big-title">Registe-se</h2>
        <p class="paragraph">
            Bem vindo(a)! Selecione o tipo de perfil que quer criar.
        </p>

        <div class="container-select-register">
            <a class="select-register" (click)="redirectToVolunteerRegister()">Voluntário(a)</a>
            <a class="select-register" (click)="redirectToOrganizationRegister()">Entidade à procura de voluntários(as)</a>
        </div>
        
        <div class="footnote-login">
            <p>Já tem uma conta? Faça login <a (click)="redirectToLogin()">aqui!</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
