body {
    background: var(--primary-color);
    display: flex;
    justify-content: center !important;
    /* align-items: center; */
    padding: 2% 0;
    overflow: hidden;
  }
  
  .left-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    border-right: 2px solid var(--primary-color);
  }
  
  .left-section img{
    height:auto;
    width:450px;
  }
  
  .right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
  }
  
  .container-select-register{
      margin:30px 0;
      display: flex;
      flex-direction: column;
  }
  
  .select-register {
    width: 90%;
    border: 1px solid var(--secondary-color);
    border-radius: 10px 0 10px 0;
    text-align: center;
    text-decoration: none;
    color: var(--grey-color);
    font-size: 12px;
    margin-top: 20px;
    padding: 5px 0;
  }
  
  .select-register:hover{
      background: var(--secondary-color);
      cursor: pointer;
      color:var(--light-color);
  }
  
  .btn-continue{
      width: fit-content;
      margin:20px 0;
     margin-left:35%;
  
  }