<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      VIS | plataforma de Voluntariado e Iniciativas de Solidariedade
    </title>
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- NAVBAR -->
    <div class="nav-admin">
      <img src="../../assets/img/logoVIS.png" alt="" />
      <a (click)="redirectToOffersList()">propostas</a>
      <a href="admin_entidades.html">entidades</a>
      <a href="admin_voluntarios.html">voluntários</a>
      <a class="selected-tab" href="admin_metricas.html">métricas</a>
      <a href="index.html" class="btn-log-out">log out</a>
    </div>

    <!--------------------------------------------------------------------------------------------------------- -->

    <div class="container-metricas">
        <h3 class="big-title">Descarregar métricas</h3>
        <p class="paragraph-large">Selecione as métricas que deseja descarregar.</p>

        <form class="container-form-metricas">
            <div>
                <h3>Voluntários</h3>
                <div class="checkbox-block">
                    <input type="checkbox" id="voluntarios_inscritos" name="voluntarios_inscritos" value="voluntarios_inscritos">
                    <label for="voluntarios_inscritos">Nº total de voluntários inscritos na plataforma</label>
                </div>
                <div class="checkbox-block">
                    <input type="checkbox" id="voluntarios_sexo" name="voluntarios_sexo" value="voluntarios_sexo">
                    <label for="voluntarios_sexo">Nº total de voluntários inscritos por sexo</label>
                </div>
                <div class="checkbox-block">
                    <input type="checkbox" id="voluntarios_curso" name="voluntarios_curso" value="voluntarios_curso">
                    <label for="voluntarios_curso">Nº total de voluntários inscritos por curso</label>
                </div>
                <div class="checkbox-block">
                    <input type="checkbox" id="voluntarios_curso" name="voluntarios_curso" value="voluntarios_curso">
                    <label for="voluntarios_curso">Nº total de voluntários inscritos por curso</label>
                </div>
                <div class="checkbox-block">
                    <input type="checkbox" id="voluntarios_escola" name="voluntarios_escola" value="voluntarios_escola">
                    <label for="voluntarios_escola">Nº total de voluntários inscritos por escola</label>
                </div>
                <div class="checkbox-block">
                    <input type="checkbox" id="voluntarios_areas" name="voluntarios_areas" value="voluntarios_areas">
                    <label for="voluntarios_areas">Nº total de voluntários por áreas de interesse</label>
                </div>
                <div class="checkbox-block">
                    <input type="checkbox" id="voluntarios_horas_validadas" name="voluntarios_horas_validadas" value="voluntarios_horas_validadas">
                    <label for="voluntarios_horas_validadas">Nº total de horas individuais de voluntariado validadas</label>
                </div>
            </div>
            <div>
                <h3>Entidades</h3>
                <div class="checkbox-block">
                    <input type="checkbox" id="entidades_inscritas" name="entidades_inscritas" value="entidades_inscritas">
                    <label for="entidades_inscritas">Nº total de entidades inscritas na plataforma</label>
                </div>
                <div class="checkbox-block">
                    <input type="checkbox" id="entidades_nacionalidade" name="entidades_nacionalidade" value="entidades_nacionalidade">
                    <label for="entidades_nacionalidade">Nº total de entidades por nacional e por internacional</label>
                </div>
                <div class="checkbox-block">
                    <input type="checkbox" id="entidades_propostas_validadas" name="entidades_propostas_validadas" value="entidades_propostas_validadas">
                    <label for="entidades_propostas_validadas">Nº total de propostas validadas</label>
                </div>
                <div class="checkbox-block">
                    <input type="checkbox" id="entidades_propostas_nacionalidade" name="entidades_propostas_nacionalidade" value="entidades_propostas_nacionalidade">
                    <label for="entidades_propostas_nacionalidade">Nº total de propostas validadas por nacional e por internacional</label>
                </div>
                <div class="checkbox-block">
                    <input type="checkbox" id="entidades_areas" name="entidades_areas" value="entidades_areas">
                    <label for="entidades_areas">Nº total de entidades por áreas de atuação</label>
                </div>
                <div class="checkbox-block">
                    <input type="checkbox" id="entidades_horas_validadas" name="entidades_horas_validadas" value="entidades_horas_validadas">
                    <label for="entidades_horas_validadas">Nº total de horas de voluntariado validadas na plataforma</label>
                </div>
                <div class="checkbox-block">
                    <input type="checkbox" id="entidades_horas_validadas_nacionalidade" name="entidades_horas_validadas_nacionalidade" value="entidades_horas_validadas_nacionalidade">
                    <label for="entidades_horas_validadas_nacionalidade">Nº total de horas de voluntariado validadas na plataforma por nacional e por internacional</label>
                </div>
                
            </div>
            <div>
                <h3>Questionário de satisfação</h3>
                <div class="checkbox-block">
                    <input type="checkbox" id="questionario_um" name="questionario_um" value="questionario_um">
                    <label for="questionario_um">Pergunta 1: Nº total de respostas por opção</label>
                </div>
                <div class="checkbox-block">
                    <input type="checkbox" id="questionario_dois" name="questionario_dois" value="questionario_dois">
                    <label for="questionario_dois">Pergunta 2: Nº total de respostas por opção</label>
                </div>
                <div class="checkbox-block">
                    <input type="checkbox" id="questionario_três" name="questionario_três" value="questionario_três">
                    <label for="questionario_três">Pergunta 3: Nº total de respostas por opção</label>
                </div>

            </div>
        </form>

        <div class="container-btns-questionario">
            <a href="voluntario_perfil.html" class="btn-cancelar">cancelar</a>
            <input type="submit" value="descarregar métricas" class="btn-submit btn-edit">
        </div>    
      

    </div>

    <!-- FOOTER -->

    <div class="footer">
      <div>
        <p>Todos os direitos reservados &copy; VIS 2021</p>
      </div>
      <div class="container-logos-footer">
        <img id="es" src="../../assets/img/logoES.png">
        <img src="../../assets/img/logoISEP.png">
        <img id="p-porto" src="../../assets/img/logoPP.png">
        <img id="eeo" src="../../assets/img/logoEEO.png">
    </div>
    </div>
  </body>
</html>
