body {
    background-color: var(--light-color);
  }
  
  .container-metricas {
    width: 100vw;
    padding: 0 40px;
    padding-top: 40px !important;
    margin-top: 80px !important;
    margin-bottom: 40px;
  }
  
  .container-form-metricas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    margin: 40px 0;
  }
  
  .container-form-metricas h3 {
    color: var(--primary-color);
    margin-bottom: 20px;
    font-size: 18px !important;
  }
  
  .checkbox-block {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .checkbox-block label {
    margin-left: 5px;
  }
  
  .btn-edit {
    height: fit-content;
    margin: 0 !important;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
  }
  
  .btn-edit:hover {
    background: var(--secondary-color);
  }
  
  .container-btns-questionario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  