body {
    background: var(--primary-color);
    display: flex;
    justify-content: center !important;
    padding: 2% 0;
    overflow: hidden;
  }
  
  .container-register {
    background: var(--light-color);
    border-radius: 50px 2px 50px 2px;
    height: 90vh;
    width: 65vw;
    padding: 30px 40px;
  }
  
  .subtitle-orange {
    margin-top: 20px;
  }
  
  form {
    font-size: 16px !important;
    color: var(--primary-color);
    position: relative;
  }
  
  table {
    text-align: center;
    margin-top: 20px;
  }
  
  td {
    border: 1px solid var(--primary-color);
    width: 20vw;
    height: 50px;
  }
  
  .btn-continue {
    width: fit-content;
    margin: 0;
    position: absolute;
    right: 0px;
    bottom: -50px;
  }
  