<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      VIS | plataforma de Voluntariado e Iniciativas de Solidariedade
    </title>
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png"/>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- NAVBAR -->
    <div class="nav-entidade">
      <img src="../../assets/img/logoVIS.png" alt="" />
      <a class="selected-tab" href="entidade_propostas.html">propostas</a>
      <a (click)="onLogout()" class="btn-log-out">log out</a>
      <div class="container-profile-picture">
        <a href="entidade_perfil.html">
          <img src="../../assets/img/user.png" alt="" />
        </a>
      </div>
    </div>


    <!-- ^------------------------------------------------------------------------------------------------------- -->
    <form #form='ngForm' (submit)="onSubmit(form)">
        <div class="container-proposta-detail">

            <div>
                <div class="top-proposta-title">
                    <input #Title="ngModel" name="Title" type="text" class="title-input" placeholder="Título da proposta" [(ngModel)]="formModel.Title" required>  
                    <div class="container-btns-editar-perfil">
                        <a (click)="redirectToFeed()" class="btn-cancelar">cancelar</a>
                        <input type="submit" value="guardar alterações" class="btn-submit btn-edit">
                    </div>
                </div>
                <div class="info-block">
                    <label for="descricao_proposta">Descrição da proposta:</label>
                    <textarea #Description="ngModel" rows="5" id="descricao_proposta" name="Description" placeholder="Descrição da proposta" [(ngModel)]="formModel.Description" required></textarea>
                </div>
            </div>

            <div>
                <div class="double-info-block">
                    <div class="info-block">
                        <label for="data_inicio">Data de início:</label>
                        <input #StartDate="ngModel" type="date" id="data_inicio" name="StartDate" placeholder="" [(ngModel)]="formModel.StartDate" required/>
                    </div>
                    <div class="info-block">
                        <label for="data_fim">Data de fim:</label>
                        <input #EndDate="ngModel" type="date" id="data_fim" name="EndDate" placeholder="" [(ngModel)]="formModel.EndDate" required/>
                    </div>
                    <div class="info-block">
                        <label for="total_horas">Total de horas de voluntariado:</label>
                        <input #ExpectedVolunteeringHours="ngModel" type="number" id="total_horas" name="ExpectedVolunteeringHours" placeholder="Total de horas" [(ngModel)]="formModel.ExpectedVolunteeringHours" required/>
                    </div>
                    <div class="info-block">
                        <label for="local">Local:</label>
                        <input #Location="ngModel" type="text" id="local" name="Location" placeholder="Local" [(ngModel)]="formModel.Location" required/>
                    </div>
                  </div>
                <div class="info-block">
                  <label for="area_atuacao">Área(s) de atuação:</label>
                  <select #InterventionAreaId="ngModel" name="InterventionAreaTitle" (change)="onInterventionAreaSelection($event)" id="interventionArea" [(ngModel)]="formModel.InterventionAreaId" required> 
                    <option *ngFor="let interventionArea of interventionAreas" [value]="interventionArea.id" name="opcao_selecionada">{{ interventionArea.tituloVoluntario }}</option>
                  </select>
                </div>
                <div class="info-block">
                    <label for="funcoes_proposta">Funções a desempenhar:</label>
                    <textarea #RolesToPlay="ngModel" rows="5" id="funcoes_proposta" name="RolesToPlay" placeholder="Funções a desempenhar" [(ngModel)]="formModel.RolesToPlay" required></textarea>
                </div>
                <div class="info-block">
                    <label for="outras_obsv">Outras observações:</label>
                    <textarea #AdditionalInfo="ngModel" rows="5" id="outras_obsv" name="AdditionalInfo" placeholder="Outras observações" [(ngModel)]="formModel.AdditionalInfo" required></textarea>
                </div>
            </div>
        </div>

    </form>


    <!-- FOOTER -->

    <div class="footer">
        <div>
          <p>Todos os direitos reservados &copy; VIS 2021</p>
        </div>  
        <div class="container-logos-footer">
          <img id="es" src="../../assets/img/logoES.png">
          <img src="../../assets/img/logoISEP.png">
          <img id="p-porto" src="../../assets/img/logoPP.png">
          <img id="eeo" src="../../assets/img/logoEEO.png">
      </div>
    </div>
  </body>
