body {
    background-color: var(--light-color);
  }
  
  .container-profile-picture {
    border: 3px solid var(--secondary-color) !important;
  }
  
  .container-top-perfil {
    margin-top: 80px;
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  
  .blue-bar-perfil {
    background: var(--primary-color);
    height: 100%;
    width: 100%;
  }
  
  .container-profile-img-big {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    overflow: hidden;
    position: relative;
    margin-top: -75px;
    margin-left: 40px;
    margin-right: 40px;
    transition: all 0.2s ease-in-out;
  }
  
  .container-profile-img-big img {
    position: absolute;
    width: auto !important;
    height: 150% !important;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto !important;
  }
  
  .destaque-perfil {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
  }
  
  .destaque-perfil p {
    color: var(--grey-color);
  }
  
  .btn-edit{
    position:absolute;
    top:20px !important;
    right:40px !important;
    height:fit-content;
    margin:0 !important;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
  }
  
  .btn-edit:hover{
    background: var(--secondary-color);
  }
  
  .container-perfil-voluntario {
    width: 100vw;
    padding: 0 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin: 20px 0;
  }
  
  .card-perfil {
    border-radius: 30px 2px 30px 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    padding: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .card-historico {
    border-radius: 30px 2px 30px 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    padding: 40px;
    margin: 20px;
    display: grid;
    grid-template-columns: 8fr 1fr;
    flex-direction: column;
    position: relative;
  }
  
  .info-block {
    margin-top: 15px;
  }
  
  .info-block a{
      text-decoration: none;
      color:var(--primary-color);
  }
  
  .info-block a:hover{
      color: var(--secondary-color);
      cursor: pointer;
  }
  
  .double-info-block {
    display: flex;
    flex-direction: row;
  }
  
  .double-info-block .info-block {
    margin-right: 40px;
  }
  
  .historico-voluntario {
    margin: 40px;
    height: 300px;
    margin-top: 40px;
  }
  
  .container-historico-voluntario {
    overflow-y: scroll;
  }
  
  .container-historico-voluntario::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--light-color);
  }
  
  .container-historico-voluntario::-webkit-scrollbar {
    width: 6px;
    background-color: var(--light-color);
  }
  
  .container-historico-voluntario::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    transition: all 0.2s ease-in-out;
  }
  
  .container-historico-voluntario::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
  }
  
  .card-right-historico {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
  }
  
  .btn-info {
    align-self: flex-end;
    transition: all 0.2s ease-in-out;
  }
  
  .btn-info:hover {
    background: var(--secondary-color);
  }