<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      VIS | plataforma de Voluntariado e Iniciativas de Solidariedade
    </title>
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png"/>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- NAVBAR -->
    <div class="nav-admin">
        <img src="../../assets/img/logoVIS.png" alt="" />
        <a href="admin_propostas.html">propostas</a>
        <a class="selected-tab" href="admin_entidades.html">entidades</a>
        <a href="admin_voluntarios.html">voluntários</a>
        <a href="admin_metricas.html">métricas</a>
        <a href="index.html" class="btn-log-out" >log out</a>
      </div>

    <!-- ^------------------------------------------------------------------------------------------------------- -->

    <div *ngIf="organization" class="container-top-perfil">
        <div class="blue-bar-perfil"></div>
        <div class="destaque-perfil">
            <div class="container-profile-img-big">
                <img src="../../assets/img/user.png">
            </div>
            <div>
                <h3 class="big-title">{{ organization.name }}</h3>
                <p>{{ organization.location }}</p>
            </div>
        </div>
    </div>

    <div *ngIf="organization" class="container-perfil-voluntario">
      <div>
          <div class="card-perfil">
              <h3 class="subtitle-blue">Informações gerais</h3>
              <div class="info-block">
                  <p class="small">Área(s) de atuação</p>
                  <p *ngFor="let interventionArea of interventionAreas">{{ interventionArea }}</p>
              </div>
              <div class="info-block">
                  <p class="small">País(es) onde atua</p>
                  <p>{{ organization.operatingCountries }}</p>
              </div>
              <div class="info-block">
                  <p class="small">Website</p>
                  <a href="{{organization.websiteUrl}}"> {{ organization.websiteUrl }} </a>
              </div>
              <div class="info-block">
                  <p class="small">Informações adicionais</p>
                  <p>{{ organization.additionalInfo }}</p>
              </div>
          </div>
      </div>
      <div>
        <div class="card-perfil">
          <h3 class="subtitle-blue">Contactos</h3>
          <div class="info-block">
            <p class="small">Pessoa de contacto</p>
            <p> {{ organization.representativeName }}</p>
          </div>
          <div class="info-block">
            <p class="small">Email</p>
            <p>{{ organization.emailAddress }}</p>
          </div>
          <div class="info-block">
            <p class="small">Telemóvel</p>
            <p>{{ organization.phoneNumber }}</p>
          </div>
          <div class="info-block">
            <p class="small">Morada</p>
            <p>{{ organization.address }}</p>
          </div>
          <div class="info-block">
            <p class="small">Código-postal</p>
            <p>{{ organization.postalCode }}</p>
          </div>
        </div>
      </div>
  </div>

  <div class="card-perfil historico-voluntario">
    <h3 class="subtitle-blue">Histórico de voluntariado</h3>

    <div class="container-historico-voluntario">
      <div *ngFor="let offer of offerHistory; let i = index" class="card-historico">
        <div>
          <h3 class="subtitle-blue">{{ offer.title }}</h3>
            <p>{{ offer.organizationName }}</p>
        </div>
        <div class="card-right-historico"> 
          <div *ngIf="offer.status == 1; else notSelected">
            <p class="status-proposta-ativo">ativo</p>
          </div>
          <ng-template #notSelected>
            <p class="status-proposta-concluido">concluído</p>
          </ng-template>
          <a [routerLink]="['/vOfferDetails',offer.id]" class="btn-submit btn-info">+info</a>
        </div>
      </div>
    </div>
  </div>

    <!-- FOOTER -->

    <div class="footer">
        <div>
          <p>Todos os direitos reservados &copy; VIS 2021</p>
        </div>  
        <div class="container-logos-footer">
          <img id="es" src="../../assets/img/logoES.png">
          <img src="../../assets/img/logoISEP.png">
          <img id="p-porto" src="../../assets/img/logoPP.png">
          <img id="eeo" src="../../assets/img/logoEEO.png">
      </div>
    </div>
  </body>
</html>
