<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      VIS | plataforma de Voluntariado e Iniciativas de Solidariedade
    </title>
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png"/>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

    <!-- MODAL CONFIRMAÇÃO VALIDAR HORAS -->
    <div id="modal-validar-participacao" class="modal">
      <div class="modal-content">
        <h2 class="big-title">Validar participação</h2>
        <p>
          Declaro que o(a) voluntário(a) Camila Cunha participou nesta ação de voluntariado com 3 horas. 
        </p>
        <div class="container-btns-modal">
          <p class="btn-cancelar" id="cancel-modal-participacao">cancelar</p>
          <p id="close-modal-participacao" class="btn-submit btn-close">confirmar</p>
        </div>
      </div>
    </div>


    <!-- NAVBAR -->
    <div class="nav-entidade">
        <img src="../../assets/img/logoVIS.png" alt="" />
        <a (click)="redirectToFeed()" class="selected-tab" >propostas</a>
        <a (click)="onLogout()" class="btn-log-out">log out</a>
        <div class="container-profile-picture">
          <a (click)="redirectToProfile()">
            <img src="../../assets/img/user.png" alt="" />
          </a>
        </div>
      </div>

    <!-- ^------------------------------------------------------------------------------------------------------- -->

    <div *ngIf="volunteer" class="container-top-perfil">
        <div class="blue-bar-perfil"></div>
        <div class="destaque-perfil">
            <div class="container-profile-img-big">
                <img src="../../assets/img/user.png">
            </div>
            <div>
                <h3 class="big-title">{{ volunteer.fullName }}</h3>
                <p>{{ volunteer.schoolName }}</p>
            </div>
            <p id="trigger-modal-participacao" class="btn-submit btn-edit">validar participação</p>
        </div>
    </div>

    <div *ngIf="volunteer" class="container-perfil-voluntario">
        <div>
            <div class="card-perfil">
                <h3 class="subtitle-blue">Informações gerais</h3>
                <div class="info-block">
                    <p class="small">Área de formação</p>
                    <p>{{ volunteer.degreeName }}</p>
                </div>
                <div class="info-block">
                    <p class="small">Número mecanográfico</p>
                    <p>{{ volunteer.mechanographicNumber }}</p>
                </div>
                <div class="info-block">
                    <p class="small">Nacionalidade</p>
                    <p>{{ volunteer.nationality }}</p>
                </div>
                <div class="info-block">
                    <p class="small">Sexo</p>
                    <p>{{ gender }}</p>
                </div>
                <div class="info-block">
                    <p class="small">Experiência em voluntariado</p>
                    <p>{{ volunteer.volunteeringExperience }}</p>
                </div>
                <div class="info-block">
                    <p class="small">Razões para fazer voluntariado</p>
                    <p>{{ volunteer.reasonsToVolunteer }}</p>
                </div>
                <div class="info-block">
                  <p class="small">Tem interesse em fazer voluntariado internacional?</p>
                  <p>{{ internationalInterests }}</p>
                </div>
                <div class="info-block">
                    <p class="small">Informações adicionais</p>
                    <p>{{ volunteer.additionalInformation }}</p>
                </div>
            </div>
        </div>
        <div>
          <div class="card-perfil">
            <h3 class="subtitle-blue">Contactos</h3>
            <div class="info-block">
              <p class="small">Email</p>
              <p>{{ volunteer.emailAddress }}</p>
            </div>
            <div class="double-info-block">
              <div class="info-block">
                <p class="small">Telemóvel</p>
                <p>{{ volunteer.phoneNumber }}</p>
              </div>
              <div class="info-block">
                <p class="small">Contacto de emergência</p>
                <p>{{ volunteer.emergencyPhoneNumber}}</p>
              </div>
            </div>
            <div class="info-block">
              <p class="small">Morada</p>
              <p>{{ volunteer.address }}</p>
            </div>
            <div class="info-block">
              <p class="small">Código-postal</p>
              <p>{{ volunteer.postalCode }}</p>
            </div>
          </div>

          <div class="card-perfil">
            <h3 class="subtitle-blue">Dados pessoais</h3>
              <div class="info-block">
                <p class="small">Documento de identificação</p>
                <p>{{ volunteer.identificationDocument }}</p>
              </div>
              <div class="info-block">
                <p class="small">Número de documento de identificação</p>
                <p>{{ volunteer.identificationNumber }}</p>
              </div>

            <div class="info-block">
              <p class="small">Número de identificação fiscal</p>
              <p>{{ volunteer.taxpayerNumber }}</p>
            </div>
            <div class="info-block">
              <p class="small">Data de nascimento</p>
              <p>{{ volunteer.birthday }}</p>
            </div>
          </div>
        </div>
    </div>

    <div class="card-perfil historico-voluntario">
      <h3 class="subtitle-blue">Histórico de voluntariado</h3>

      <div class="container-historico-voluntario">
        <div *ngFor="let application of currentApplications" class="card-historico">
          <div>
            <h3 class="subtitle-blue">{{ application.offerTitle }}</h3>
              <p>{{ application.offerOrganizationName }}</p>
          </div>
          <div class="card-right-historico">
            <div *ngIf="application.selected == 1; else notSelected">
              <p class="status-candidatura-positivo">selecionado</p>
            </div>
            <ng-template #notSelected>
              <p class="status-candidatura-negativo">não selecionado</p>
            </ng-template>
            <a href="voluntario_proposta_detail.html" class="btn-submit btn-info">+info</a>
          </div>
        </div>
      </div>

    </div>

    <!-- FOOTER -->

    <div class="footer">
        <div>
          <p>Todos os direitos reservados &copy; VIS 2021</p>
        </div>  
        <div class="container-logos-footer">
          <img id="es" src="../../assets/img/logoES.png">
          <img src="../../assets/img/logoISEP.png">
          <img id="p-porto" src="../../assets/img/logoPP.png">
          <img id="eeo" src="../../assets/img/logoEEO.png">
      </div>
    </div>
  </body>
</html>
