body{
    background-color: var(--light-color);
}

.container-propostas-voluntario{
    width:100vw;
    padding:0 30px;
    padding-top: 40px !important;
    margin-top:80px;
}

.container-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}

.container-search input{
    font-size: 12px !important;
    color: var(--grey-color);
    border-radius: 10px 0 10px 0;
    height: 30px;
    width: 400px;
    padding: 0 5px;
    border: 2px solid var(--primary-color);
}

.container-search input:focus{
    border: 2px solid var(--secondary-color);

}

.container-search a {
    background: var(--primary-color);
    height:30px;
    width:30px;
    padding: 5px;
    border-radius: 10px 0 10px 0;
    margin-left:-10px;
    transition: all 0.2s ease-in-out;
}

.container-search a:hover{
    background: var(--secondary-color);
}

.container-search a img{
    width:100%;
    height:auto;
}

.search-filter{
    margin-left:20px;
    background:var(--primary-color);
    color:var(--light-color);
    border-radius: 10px 0 10px 0;
    height: 30px;
    padding:5px 10px;
    
}

.search-filter select:hover{
    cursor:pointer;
}

.search-filter select{
    color: var(--light-color);
    background: var(--primary-color);
    border: none;
    font-family: "Poppins", sans-serif;

}

.search-filter option{
    padding:5px;
    background: var(--light-color);
    color:var(--primary-color);
}

.container-grid-propostas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin:40px 0;
}

.card-proposta {
    border-radius: 30px 2px 30px 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    position:relative;
}

.card-proposta p {
    font-size: 12px;
    color:var(--grey-color);
    margin-top:5px;
}

.card-proposta .btn-info{
    align-self: flex-end;
    transition: all 0.2s ease-in-out;
}

.card-proposta .btn-info:hover{
    background: var(--secondary-color);
}

.status-candidatura-positivo{
    color:var(--green-color) !important;
    font-size: 10px;
    text-transform: uppercase;
    position:absolute;
    top:10px;
    right:20px;
}

.status-candidatura-negativo{
    color:var(--secondary-color) !important;
    font-size: 10px;
    text-transform: uppercase;
    position:absolute;
    top:10px;
    right:20px;
}

