<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      VIS | plataforma de Voluntariado e Iniciativas de Solidariedade
    </title>
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png"/>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- NAVBAR -->
    <div class="nav-voluntario">
      <img src="../../assets/img/logoVIS.png" alt="" />
      <a (click)="redirectToFeed()">voluntariado</a>
      <a class="selected-tab">candidaturas</a>
      <div class="dropdown">
        <!-- elemento dinâmico que informa que existem notificações não lidas -->
        <div *ngIf="notifications.length > 0" class="notification-alert"></div>

        <span>notificações</span>
        <div class="dropdown-content">
          <div *ngFor="let notification of notifications; let i=index" class="notification-item">
            <div *ngIf="notification.isNewOffer == 1; else satisfactionForm">
              <h3 class="subtitle-blue-small">Nova proposta</h3>
              <p class="small">{{notificationSentences[i]}}</p>
              <a (click)="readNewOfferNotification(notification)" class="btn-submit btn-notification">+info</a>
            </div>
            <ng-template #satisfactionForm>
              <h3 class="subtitle-blue-small">Questionário de satisfação</h3>
              <p class="small">{{notificationSentences[i]}}</p>
              <a (click)="readNewOfferNotification(notification)" class="btn-submit btn-notification">responder</a>
            </ng-template>
          </div>
          <p *ngIf="notifications.length == 0" class="subtitle-orange-small">
            Não tem nofificações novas, volte a tentar mais tarde.
          </p>
        </div>
      </div>
      <a (click)="logout()" class="btn-log-out">log out</a>
      <div class="container-profile-picture">
        <a (click)="redirectToProfile()">
          <img src="../../assets/img/user.png" alt="" />
        </a>
      </div>
    </div>

    <!-- ^------------------------------------------------------------------------------------------------------- -->

    <div class="container-propostas-voluntario">
      <h2 class="big-title">As minhas candidaturas</h2>
      <form action="">
        <div class="container-search">
          <input type="text" placeholder="Pesquisa"/>
          <a href="">
              <img src="../../assets/img/search.png" >
          </a>
        </div>
      </form>
      <div class="container-grid-propostas">

        <!-- CARD COM STATUS POSITIVO-->
        <div *ngFor="let application of currentApplications" class="card-proposta">
            <h3 class="subtitle-blue">{{ application.offerTitle }}</h3>
            <p>{{ application.offerOrganizationName }}</p>
            <p>{{ application.offerDescription }}</p>
            <a [routerLink]="['/vOfferDetails',application.idOffer]" class="btn-submit btn-info">+info</a>
            <div *ngIf="application.selected == 1; else notSelected">
              <p class="status-candidatura-positivo">selecionado</p>
            </div>
            <ng-template #notSelected>
              <p class="status-candidatura-negativo">não selecionado</p>
            </ng-template>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <div class="footer">
        <div>
          <p>Todos os direitos reservados &copy; VIS 2021</p>
        </div>  
        <div class="container-logos-footer">
          <img id="es" src="../../assets/img/logoES.png">
          <img src="../../assets/img/logoISEP.png">
          <img id="p-porto" src="../../assets/img/logoPP.png">
          <img id="eeo" src="../../assets/img/logoEEO.png">
      </div>
    </div>
  </body>
</html>
