<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      VIS | plataforma de Voluntariado e Iniciativas de Solidariedade
    </title>
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png"/>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- NAVBAR -->
    <div class="nav-admin">
      <img src="../../assets/img/logoVIS.png" alt="" />
      <a (click)="redirectToOffers()">propostas</a>
      <a class="selected-tab" (click)="redirectToOrganizations()">entidades</a>
      <a (click)="redirectToVolunteers()">voluntários</a>
      <a (click)="redirectToMetrics()">métricas</a>
      <a (click)="onLogout()" class="btn-log-out" >log out</a>
    </div> 
    
    <!-- ^------------------------------------------------------------------------------------------------------- -->

    <div class="container-propostas-admin">
        <h2 class="big-title">Listagem de Entidades</h2>
        <div class="search-line">
            <div class="container-search">
              <input type="text" placeholder="Pesquisa"/>
              <a href="">
                  <img src="../../assets/img/search.png" >
              </a>
            </div>  
        </div>
        <div class="container-grid-propostas">
          <div *ngFor="let organization of organizations" class="card-proposta">
              <div>
                  <h3 class="subtitle-blue">{{ organization.name }}</h3>
              </div>
              <a (click)="redirectToOrganizationProfile(organization.id)" class="btn-submit btn-info">+info</a>
          </div>
        </div>
    </div>


    <!-- FOOTER -->

    <div class="footer">
        <div>
          <p>Todos os direitos reservados &copy; VIS 2021</p>
        </div>  
        <div class="container-logos-footer">
          <img id="es" src="../../assets/img/logoES.png">
          <img src="../../assets/img/logoISEP.png">
          <img id="p-porto" src="../../assets/img/logoPP.png">
          <img id="eeo" src="../../assets/img/logoEEO.png">
      </div>
    </div>
  </body>
</html>
