<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      VIS | plataforma de Voluntariado e Iniciativas de Solidariedade
    </title>
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png"/>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container-register">
      <h2 class="big-title title-register">Registe-se como Entidade / Register as an Organization </h2>
      <form class="container-forms" action="register_entidade_2.html">
        <div>
            <h3 class="subtitle-orange">Dados da entidade/ Organization's profile</h3>
            <div>
                <label for="nome_entidade">Nome / Name:</label>
                <input type="text" id="nome_entidade" name="nome_entidade" placeholder="Nome" />
            </div>
            <div>
                <label for="pais_atua">País(es) onde atua / Country:</label>
                <input type="text" id="pais_atua" name="pais_atua" placeholder="País(es) onde atua" />
            </div>
            <div>
                <label for="website">Website:</label>
                <input type="text" id="website" name="website" placeholder="Website" />
            </div>
            <div class="consentimento">
                <label for="info_adicionais">Informações adicionais / Extra information:</label>
                <textarea rows="5" id="info_adicionais" name="info_adicionais" placeholder="Informações adicionais" ></textarea>
            </div>
            
            <h3 class="subtitle-orange">Consentimento / Consent</h3>
            <p>A VIS garante a estrita confidencialidade no tratamento dos seus dados. A informação disponibilizada não será partilhada com terceiros e será apenas utilizada para os fins diretamente relacionados com os objetivos da plataforma.  
            </p>
            <p>VIS guarantees strict confidentiality in the treatment of your data. The information provided will not be shared with third parties and will only be used for purposes directly related to the objectives of the platform.</p>
            <div class="same-line" >
                <input type="checkbox" id="consentimento" name="consentimento" value="consentimento">
                <label for="consentimento"> Declaro que li e aceito / I declare that I have read and agree.</label>
            </div>
        </div>
        <div>
            <h3 class="subtitle-orange">Informação de contacto / Contact information</h3>
            <div>
                <label for="representante">Nome do(a) representante / Representative's name:</label>
                <input type="text" id="representante" name="representante" placeholder="nome do(a) representante" />
            </div>
            <div>
                <label for="telemovel_entidade">Telemóvel / Mobile:</label>
                <input type="text" id="telemovel_entidade" name="telemovel_entidade" placeholder="telemovel" />
            </div>
            <div>
                <label for="email_entidade">Email:</label>
                <input type="email" id="email_entidade" name="email_entidade" placeholder="someone@entidade.pt" />
            </div>
            <div>
                <label for="morada_entidade">Morada / Adress:</label>
                <input type="text" id="morada_entidade" name="morada_entidade" placeholder="Morada" />
            </div>
            <div class="split-form">
                <div>
                    <label for="codigo_postal_entidade">Código-postal / Zip code:</label>
                    <input type="text" id="codigo_postal_entidade" name="codigo_postal_entidade" placeholder="" />
                </div>
                <div>
                    <label for="localidade_entidade">Localidade / City:</label>
                    <input type="text" id="localidade_entidade" name="localidade_entidade" placeholder="Localidade" />
                </div>
            </div>
            <div>
                <label for="password">Palavra-passe / Password:</label>
                <input type="password" id="password" name="password" />
            </div>            

        </div>
        <input class="btn-submit btn-continue" (click)="redirectToNextPage()" type="submit" value="Confirmar" />

      </form>
    </div>
  </body>
</html>
