<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      VIS | plataforma de Voluntariado e Iniciativas de Solidariedade
    </title>
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- NAVBAR -->
    <div class="nav-admin">
      <img src="../../assets/img/logoVIS.png" alt="" />
      <a class="selected-tab" (click)="redirectToOffers()">propostas</a>
      <a (click)="redirectToOrganizations()">entidades</a>
      <a (click)="redirectToVolunteers()">voluntários</a>
      <a (click)="redirectToMetrics()">métricas</a>
      <a (click)="onLogout()" class="btn-log-out">log out</a>
    </div>

    <!--------------------------------------------------------------------------------------------------------- -->

    <div class="container-proposta-detail">
      <div class="top-proposta-title">
        <div *ngIf="offer.status == 0; else notPending">
          <p class="status-proposta-pendente">pendente</p>
          <h3 class="big-title">{{offer.title}}</h3>
        </div>
        <ng-template #notPending>
            <ng-container *ngIf="offer.status == 1;else finished">
              <p class="status-proposta-ativo">ativo</p> 
              <h3 class="big-title">{{offer.title}}</h3>
            </ng-container>
            <ng-template #finished>
              <p class="status-proposta-concluido">concluído</p>
              <h3 class="big-title">{{offer.title}}</h3>
            </ng-template>
          </ng-template>
        <div class="container-btns-editar-perfil">
          <a (click)="rejectOffer()" class="btn-submit btn-edit btn-delete">recusar proposta</a>
          <a (click)="validateOffer()" class="btn-submit btn-edit">validar proposta</a>
        </div>
      </div>
      <div class="top-proposta">
        <div>
          <p class="paragraph-large">{{offer.description}}</p>
        </div>
        <div class="card-perfil">
          <div class="card-perfil-top">
            <div class="container-profile-img-medium">
              <img src="../../assets/img/user.png" />
            </div>
            <div>
              <h3>{{offer.organizationName}}</h3>
              <p>{{offer.organizationLocation}}</p>
              <a (click)="redirectToOrganizationProfile()" class="btn-submit btn-edit">+info</a>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="double-info-block">
          <div class="info-block">
            <p class="small">Data de início</p>
            <p>{{offer.startDate}}</p>
          </div>
          <div class="info-block">
            <p class="small">Data de fim</p>
            <p>{{offer.endDate}}</p>
          </div>
          <div class="info-block">
            <p class="small">Total de horas de voluntariado</p>
            <p>{{offer.expectedVolunteeringHours}}</p>
          </div>
          <div class="info-block">
            <p class="small">Local</p>
            <p>{{offer.location}}</p>
          </div>
        </div>
        <div class="info-block">
          <p class="small">Funções a desempenhar</p>
          <p>{{offer.rolesToPlay}}</p>
        </div>
        <div class="info-block">
          <p class="small">Outras observações</p>
          <p>{{offer.additionalInfo}}</p>
        </div>
      </div>

      <div class="card-perfil lista-candidatos">
        <h3 class="subtitle-blue">Histórico de voluntariado</h3>

        <div *ngIf="currentCandidates" class="container-lista-candidatos">
          <div *ngFor="let candidate of currentCandidates; let i=index" class="card-candidato">
            <div>
              <h3 class="subtitle-blue">{{ candidate.fullName }}</h3>
              <p>{{ currentCandidatesSchools[i] }}</p>
            </div>
            <div *ngIf="applicationsList[i].selected == 1; else notSelected " class="card-candidato-right">
                <p class="status-candidatura-positivo">selecionado</p>
                <a (click)="redirectToVolunteerProfile()" class="btn-submit btn-info">+info</a>
            </div>
            <ng-template #notSelected>
                    <p class="status-candidatura-negativo">não selecionado</p>
                    <a (click)="redirectToVolunteerProfile()" class="btn-submit btn-info">+info</a>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER -->

    <div class="footer">
      <div>
        <p>Todos os direitos reservados &copy; VIS 2021</p>
      </div>
      <div class="container-logos-footer">
        <img id="es" src="../../assets/img/logoES.png">
        <img src="../../assets/img/logoISEP.png">
        <img id="p-porto" src="../../assets/img/logoPP.png">
        <img id="eeo" src="../../assets/img/logoEEO.png">
    </div>
    </div>
  </body>
</html>
