body {
    background-color: var(--light-color);
  }
  
  .container-proposta-detail {
    width: 100vw;
    padding: 0 40px;
    padding-top: 40px !important;
    margin-top: 80px !important;
    margin-bottom: 40px;
  }
  
  .top-proposta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 40px;
    align-items: center;
  }
  
  .top-proposta-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .btn-edit {
    height: fit-content;
    margin: 0 !important;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
  }
  
  .btn-edit:hover {
    background: var(--secondary-color);
  }
  
  .btn-delete {
    background: var(--secondary-color);
  }
  
  .btn-delete:hover {
    background: var(--dark-orange);
  }
  
  .card-perfil {
    border-radius: 30px 2px 30px 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    padding: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .container-profile-img-medium {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    overflow: hidden;
    position: relative;
    margin-right: 20px;
  }
  
  .container-profile-img-medium img {
    position: absolute;
    width: auto !important;
    height: 150% !important;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto !important;
  }
  
  .card-perfil-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
  
  .card-perfil-top p {
    margin-bottom: 20px;
  }
  
  .card-perfil-top a {
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
  
  .info-block {
    margin-top: 15px;
  }
  
  .double-info-block {
    display: flex;
    flex-direction: row;
  }
  
  .double-info-block .info-block {
    margin-right: 80px;
  }
  
  .lista-candidatos {
    margin: 40px 0;
    height: 500px;
    margin-top: 40px;
  }
  
  .container-lista-candidatos {
    overflow-y: scroll;
  }
  
  .container-lista-candidatos::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--light-color);
  }
  
  .container-lista-candidatos::-webkit-scrollbar {
    width: 6px;
    background-color: var(--light-color);
  }
  
  .container-lista-candidatos::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    transition: all 0.2s ease-in-out;
  }
  
  .container-lista-candidatos::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
  }
  
  .card-right-historico {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
  }
  
  .btn-info {
    align-self: flex-end;
    transition: all 0.2s ease-in-out;
  }
  
  .btn-info:hover {
    background: var(--secondary-color);
  }
  
  .card-perfil {
    border-radius: 30px 2px 30px 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    padding: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .card-candidato {
    border-radius: 30px 2px 30px 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    padding: 40px;
    margin: 20px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    flex-direction: column;
    position: relative;
  }
  
  .card-candidato-right {
    display: flex;
    flex-direction: column;
  }
  
  .card-candidato-right p{
    text-align: right;
  }
  
  .status-proposta-ativo {
    color: var(--green-color) !important;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .status-proposta-concluido {
    color: var(--primary-color) !important;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .status-proposta-pendente {
    color: var(--grey-color) !important;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .status-candidatura-positivo {
    color: var(--green-color) !important;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .status-candidatura-negativo {
    color: var(--secondary-color) !important;
    font-size: 12px;
    text-transform: uppercase;
  }
  