<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      VIS | plataforma de Voluntariado e Iniciativas de Solidariedade
    </title>
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png"/>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container-login">
      <div class="left-section">
        <img src="../../assets/img/logoVISlarge.png" alt="" />
      </div>
      <div class="right-section">
        <h2 class="big-title">Login</h2>
        <p class="paragraph">
          Bem vindo(a) de novo! Insira os seus dados para entrar na plataforma.
        </p>

        <form #form='ngForm' (submit)="onSubmit(form)">
            <div>
                <label for="email">Email:</label>
                <input #Email="ngModel" name="Email" placeholder="someone@example.com" [(ngModel)]="formModel.Email" required>
            </div>
            <div>
                <label for="password">Palavra-passe:</label>
                <input #Password="ngModel" type="password" name="password" placeholder="" [(ngModel)]="formModel.Password" required>
            </div>
          <input class="btn-submit" type="submit" value="Entrar" [disabled]="form.invalid">
        </form>

        <div class="footnote-login">
            <p>Ainda não tem conta? Registe-se <a (click)="redirectToRegister()">aqui!</a></p>
        </div>
      </div>
    </div>
  </body>
</html>

