body{
    background: var(--secondary-color);
    display: flex;
    justify-content: center !important;
    /* align-items: center; */
    padding: 2% 0;
    overflow: hidden;
}

.left-section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    border-right: 2px solid var(--secondary-color);
}

.left-section img{
    height:auto;
    width:450px;
  }

.right-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:80px
}


form{
    margin:30px 0;
}

form div{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

form div input{
    margin-top:5px;
    border-radius:10px 0 10px 0;
    height:30px;
    padding:0 5px;
    border: 1px solid var(--grey-color);
}