<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      VIS | plataforma de Voluntariado e Iniciativas de Solidariedade
    </title>
    <link rel="icon" type="image/png" href="img/favicon.png"/>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

    <!-- MODAL PRIMEIRA VEZ QUE ENTRA NA PLATAFORMA DEPOIS DE SE REGISTAR 
    <div id="modal-entidade-first-time" class="modal">
      <div class="modal-content">
        <h2 class="big-title">Bem vindo(a) Entidade!</h2>
        <p>
          O registo da sua conta foi bem sucedido. Clique em CONTINUAR para
          começar a explorar a Plataforma de Voluntariado e Iniciativas de
          Solidariedade.
        </p>
        <p id="close-modal-entidade-first-time" href="" class="btn-submit btn-close">continuar</p>
      </div>
    </div> -->


    <!-- NAVBAR -->
    <div class="nav-entidade">
      <img src="../../assets/img/logoVIS.png" alt="" />
      <a (click)="redirectToFeed()" class="selected-tab" >propostas</a>
      <a (click)="onLogout()" class="btn-log-out">log out</a>
      <div class="container-profile-picture">
        <a>
          <img [routerLink]="['/oProfile',organizationDto.id]" src="../../assets/img/user.png" alt="" />
        </a>
      </div>
    </div>

    <!-- ^------------------------------------------------------------------------------------------------------- -->

    <div class="container-propostas-voluntario">
      <h2 class="big-title">Propostas de voluntariado / Volunteering proposals</h2>
      <form action="">
        <div class="container-search">
          <input type="text" placeholder="Pesquisa"/>
          <a href="">
              <img src="../../assets/img/search.png" >
          </a>
          <div class="search-filter">
            <select type="text" id="filtro_area" name="filtro_area" (change)="onInterventionAreaSelection($event)"> 
              <option>Todos </option>  
              <option *ngFor="let interventionArea of interventionAreas">{{interventionArea.tituloVoluntario}}</option>
            </select>

            
          </div>
          <a (click)="redirectToNewOffer()" class="btn-submit btn-new">nova proposta</a>
        </div>
      </form>
      <div class="container-grid-propostas">
        <!-- REPETIÇÃO MANUAL DO ELEMENTO CARD-->

        <div *ngFor="let currentOffer of currentOffers" class="card-proposta">
            <h3 class="subtitle-blue">{{currentOffer.title}}</h3>
            <p>{{currentOffer.organizationName}}</p>
            <p>{{currentOffer.description}}</p>
            <a [routerLink]="['/oOfferDetails',currentOffer.id]" class="btn-submit btn-info">+info</a>
        </div>
        
      </div>

    </div>

    <!-- FOOTER -->

    <div class="footer">
        <div>
          <p>Todos os direitos reservados &copy; VIS 2021</p>
        </div>  
        <div class="container-logos-footer">
          <img id="es" src="../../assets/img/logoES.png">
          <img src="../../assets/img/logoISEP.png">
          <img id="p-porto" src="./../assets/img/logoPP.png">
          <img id="eeo" src="../../assets/img/logoEEO.png">
      </div>
    </div>
  </body>


  <script>
    window.onload = function () {
      var modal = document.getElementById("modal-entidade-first-time");
      var closeBtn = document.getElementById("close-modal-entidade-first-time");

      closeBtn.onclick = function () {
          modal.style.display = "none";
      };

      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    };
  </script>

</html>