body {
    background-color: var(--light-color);
  }
  
  .navbar-landing {
    background-image: url("../../assets/img/landing-1.png");
    background: var(--light-color);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
  
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  
    padding: 10px 50px;
  
    position: fixed;
    z-index: 10;
  }
  
  .navbar-landing img {
    height: 100%;
    width: auto;
  }
  
  #container-links {
    justify-self: flex-end;
  }
  
  #container-links a {
    text-transform: uppercase;
    margin-left: 20px;
    color: var(--dark-color);
    font-weight: 700;
    text-decoration: none;
  }
  
  #btn-login {
    color: var(--primary-color) !important;
  }
  
  #container-links a:hover {
    cursor: pointer;
    border-bottom: 2px solid var(--secondary-color);
  }
  
  .container-landing {
    width: 100vw;
    padding-top: 70px;
  }
  
  .section-landing-1 {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/img/landing-1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .split-landing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  
  .card-section-1 {
    border-radius: 0px 0px 30px 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    background: var(--light-color);
    padding: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .card-section-1 img {
    width: 400px;
    height: auto;
    margin-bottom: 50px;
  }
  
  .card-section-1 p {
    color: var(--primary-color);
    font-size: 20px;
    padding-right: 40px;
  }
  
  .section-landing-2 {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
  }
  
  .left-section-2 {
    height: 100%;
    width: 100%;
    background-image: url("../../assets/img/volunteer.png");
    background-attachment: fixed;
    background-size: cover cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-title {
    border-radius: 30px 2px 30px 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    background: var(--light-color);
    padding: 10px 40px;
    color: var(--secondary-color);
  }
  
  .right-section-2 {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    padding-right: 0;
    font-size: 14px;
  }
  
  .card-info-white {
    width: 100%;
    height: fit-content;
    background: var(--light-color);
    border-radius: 0px 0px 0px 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    color: var(--secondary-color);
    padding: 40px;
    text-align: center;
    margin: 10px 0;
  }
  
  .card-info-color {
    width: 100%;
    height: fit-content;
    background: var(--secondary-color);
    border-radius: 0px 0px 0px 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    color: var(--light-color);
    padding: 40px;
    text-align: center;
    margin: 10px 0;
  }
  
  #img-ods {
    height: 50px;
    width: auto;
  }
  
  .section-landing-3{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    color:var(--primary-color);
    background: var(--light-color);
    padding:40px 0;
  }
  
  .container-como-funciona{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:100%;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .left-como-funciona{
    height: 100%;
    width: 100%;
    background: var(--primary-color);
    color:var(--light-color);
    border-radius: 0px 2px 30px 00px;
    display: flex;
    flex-direction: column;
    padding:40px 80px ;
  }
  
  .right-como-funciona{
    height: 100%;
    width: 100%;
    color:var(--primary-color);
    border-radius: 0px 2px 30px 00px;
    display: flex;
    flex-direction: column;
    padding:40px 80px ;
  }
  
  .left-como-funciona h2, .right-como-funciona h2{
    margin-bottom:40px;
    text-align: center;
  }
  
  .left-como-funciona p, .right-como-funciona p{
    margin:10px 0;
  }
  
  .section-landing-3-bulletpoint {
      font-size: 30px;
  }
  
  .section-landing-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/img/volunteers-sea.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
  }
  
  .card-section-4 {
    border-radius: 0px 0px 30px 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    background: var(--light-color);
    color: var(--secondary-color);
    padding:40px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:40px;
  }
  
  .card-section-4 h1 {
    font-size: 40px;
  }
  
  .card-section-4 p {
    color: var(--secondary-color);
    font-size: 12px;
  }
  
  .btn-landing{
    color:var(--light-color);
    background: var(--secondary-color);
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px 2px 10px 2px;
    padding:10px 20px;
    margin:30px 0;
  }