<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      VIS | plataforma de Voluntariado e Iniciativas de Solidariedade
    </title>
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- NAVBAR -->
    <div class="nav-voluntario">
      <img src="../../assets/img/logoVIS.png" alt="" />
      <a (click)="redirectToFeed()">voluntariado</a>
      <a (click)="redirectToApplicationList()">candidaturas</a>
      <div class="dropdown">
        <div *ngIf="notifications.length > 0" class="notification-alert"></div>

        <span>notificações</span>
        <div class="dropdown-content">
          <div *ngFor="let notification of notifications; let i=index" class="notification-item">
            <div *ngIf="notification.isNewOffer == 1; else satisfactionForm">
              <h3 class="subtitle-blue-small">Nova proposta</h3>
              <p class="small">{{notificationSentences[i]}}</p>
              <a (click)="readNewOfferNotification(notification)" class="btn-submit btn-notification">+info</a>
            </div>
            <ng-template #satisfactionForm>
              <h3 class="subtitle-blue-small">Questionário de satisfação</h3>
              <p class="small">{{notificationSentences[i]}}</p>
              <a (click)="readNewOfferNotification(notification)" class="btn-submit btn-notification">responder</a>
            </ng-template>
          </div>
          <p *ngIf="notifications.length == 0" class="subtitle-orange-small">
            Não tem nofificações novas, volte a tentar mais tarde.
          </p>
        </div>
      </div>
      <a (click)="logout()" class="btn-log-out">log out</a>
      <div class="container-profile-picture">
        <a (click)="redirectToProfile()">
          <img src="../../assets/img/user.png" alt="" />
        </a>
      </div>
    </div>

    <!-- ^------------------------------------------------------------------------------------------------------- -->

    <form *ngIf="currentVolunteer">
      <div class="container-top-perfil">
        <div class="blue-bar-perfil"></div>
        <div class="destaque-perfil">
            <div class="container-profile-img-big">
                <img src="../../assets/img/user.png" />
            </div>
            <a class="add-photo">
              <input type="file" src="../../assets/img/editPhoto.png" id="file-input">
            </a>

          <div>
            <input type="text" class="title-input" id="nome" (change)="changeName()" placeholder="{{ currentVolunteer.fullName }}">
            <div class="info-block">
                <label for="escola">Escola:</label>
                <select type="text" id="escola" name="escola" (change)="changeSchool()"> 
                    <option *ngFor="let school of schoolsList" value="{{school.id}}" [selected]="school.id == currentVolunteer.schoolId">{{school.name}}</option>
                </select>
            </div>
          </div>
          <div class="container-btns-editar-perfil">
              <a (click)="redirectToProfile()" class="btn-cancelar">cancelar</a>
              <input (click)="editProfile()" type="submit" value="guardar alterações" class="btn-submit btn-edit">
          </div>
        </div>
      </div>

      <div class="container-perfil-voluntario">
        <div>
          <div class="card-perfil">
            <h3 class="subtitle-blue">Informações gerais</h3>
            <div class="info-block">
              <label for="curso">Área de Formação:</label>
              <select type="text" id="curso" name="curso" (change)="changeDegree()">
                <option *ngFor="let degree of degreesList" value="{{degree.degreeId}}" [selected]="degree.id == currentVolunteer.degreeId">{{degree.degreeName}}</option>
              </select>
            </div>
            <div class="info-block">
                <label for="n_mecanografico">Número mecanográfico:</label>
                <input type="text" id="n_mecanografico" name="n_mecanografico" (change)="changeMechanographicNumber()" placeholder="{{ currentVolunteer.mechanographicNumber }}" />
            </div>
            <div class="info-block">
                <label for="nacionalidade">Nacionalidade:</label>
                <input type="text" id="nacionalidade" name="nacionalidade" (change)="changeNationality()" placeholder="{{ currentVolunteer.nationality }}" />
            </div>
            <div class="info-block">
                <label for="sexo">Sexo:</label>
                <select type="text" id="sexo" name="sexo" placeholder="Sexo" > 
                    <option *ngFor="let gender of gendersList" value="{{gender.id}}" (change)="changeGender()" [selected]="gender.id == currentVolunteer.genderId">{{gender.designation}}</option>
                </select>
            </div>
            <div class="info-block">
                <label for="experiencia">Experiência em voluntariado:</label>
                <textarea rows="5" id="experiencia" name="experiencia" (change)="changeVolunteeringExperience()" placeholder="{{ currentVolunteer.volunteeringExperience }}" ></textarea>
            </div>
            <div class="info-block">
                <label for="razoes">Razões para fazer voluntariado:</label>
                <textarea rows="5" id="razoes" name="razoes" (change)="changeReasonsToVolunteer()" placeholder="{{ currentVolunteer.reasonsToVolunteer }}" ></textarea>
            </div>
            <div class="info-block">
                <label for="internacional">Tem interesse em fazer voluntariado internacional?</label>
                <select type="text" id="internacional" name="internacional" (change)="changeInternationalInterests()"> 
                    <option *ngFor="let answer of internationalInterestsAnswersList" value="{{answer.id}}" [selected]="answer.id == currentVolunteer.internationalInterestId">{{answer.answer}}</option>
                </select>
            </div>
            <div class="info-block">
                <label for="info_adicionais">Informações adicionais:</label>
                <textarea rows="5" id="info_adicionais" name="info_adicionais" (change)="changeAdditionalInfo()" placeholder="{{ currentVolunteer.additionalInformation }}" ></textarea>
            </div>
          </div>
        </div>
        <div>
          <div class="card-perfil">
            <h3 class="subtitle-blue">Contactos</h3>
            <div class="info-block">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" (change)="changeEmailAddress()" placeholder="{{ currentVolunteer.emailAddress }}" />
            </div>
            <div class="double-info-block">
              <div class="info-block">
                <label for="telemovel">Telemóvel:</label>
                <input type="text" id="telemovel" name="telemovel" (change)="changePhoneNumber()" placeholder="{{ currentVolunteer.phoneNumber }}" />
              </div>
              <div class="info-block">
                <label for="contacto_emergencia">Contacto de emergência:</label>
                <input type="text" id="contacto_emergencia" name="contacto_emergencia" (change)="changeEmergencyPhoneNumber()" placeholder="{{ currentVolunteer.emergencyPhoneNumber }}" />
              </div>
            </div>
            <div class="info-block">
                <label for="morada">Morada:</label>
                <input type="text" id="morada" name="morada" (change)="changeAddress()" placeholder="{{ currentVolunteer.address }}" />
            </div>
            <div class="double-info-block">
                <div class="info-block">
                    <label for="codigo_postal">Código-postal:</label>
                    <input type="text" id="codigo_postal" name="codigo_postal" (change)="changeZipCode()" placeholder="{{ currentVolunteer.postalCode }}" />
                </div>
                <div class="info-block">
                    <label for="localidade">Localidade:</label>
                    <input type="text" id="localidade" name="localidade" (change)="changeLocation()" placeholder="{{ currentVolunteer.location }}" />
                </div>
            </div>
          </div>

          <div class="card-perfil">
            <h3 class="subtitle-blue">Dados pessoais</h3>
            <div class="info-block">
                <label for="documento">Documento de identificação:</label>
                <select id="documento" name="documento" (change)="changeIdDocumentType()">
                    <option *ngFor="let docType of idDocumentTypesList" value="{{docType.id}}" [selected]="docType.id == currentVolunteer.identificationDocumentTypeId">{{docType.designation}}</option>
                </select>
            </div>
            <div class="info-block">
                <label for="n_documento">Nº de documento:</label>
                <input type="text" id="n_documento" name="n_documento" (change)="changeIdDocumentNumber()" placeholder="{{currentVolunteer.identificationNumber}}" />
            </div>

            <div class="info-block">
                <label for="nif">Número de identificação fiscal:</label>
                <input type="text" id="nif" name="nif" (change)="changeTaxpayerNumber()" placeholder="{{ currentVolunteer.taxpayerNumber }}" />
            </div>
            <div class="info-block">
                <label for="data_nascimento">Data de nascimento:</label>
                <input type="date" id="data_nascimento" name="data_nascimento" (change)="changeBirthday()" placeholder="" />
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- FOOTER -->

    <div class="footer">
      <div>
        <p>Todos os direitos reservados &copy; VIS 2021</p>
      </div>
      <div class="container-logos-footer">
        <img id="es" src="../../assets/img/logoES.png">
        <img src="../../assets/img/logoISEP.png">
        <img id="p-porto" src="../../assets/img/logoPP.png">
        <img id="eeo" src="../../assets/img/logoEEO.png">
    </div>
    </div>
  </body>
</html>
