body {
    background-color: var(--light-color);
  }
  
  .container-profile-picture {
    border: 3px solid var(--secondary-color) !important;
  }
  
  .container-top-perfil {
    margin-top: 80px;
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  
  .blue-bar-perfil {
    background: var(--primary-color);
    height: 100%;
    width: 100%;
  }
  
  .container-profile-img-big {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    overflow: hidden;
    position: relative;
    margin-top: -60px;
    margin-left: 40px;
    margin-right: 40px;
    transition: all 0.2s ease-in-out;
  }
  
  .container-profile-img-big img {
    position: absolute;
    width: auto !important;
    height: 150% !important;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto !important;
  }
  
  .destaque-perfil {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
  }
  
  .destaque-perfil p {
    color: var(--grey-color);
  }
  
  .add-photo {
    position: absolute;
    left: 160px;
    top: -50px;
    background: var(--secondary-color);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    overflow: hidden;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
  }
  
  .add-photo input {
    height: 70%;
    padding: 2px;
    width: auto;
  }
  
  .add-photo input {
    display: none;
  }
  
  .add-photo:hover {
    background: var(--primary-color);
    cursor: pointer;
  }
  
  .btn-edit {
    height: fit-content;
    margin: 0 !important;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
  }
  
  .btn-edit:hover {
    background: var(--secondary-color);
  }
  
  .container-btns-editar-perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 20px !important;
    right: 40px !important;
  }
  
  .container-perfil-voluntario {
    width: 100vw;
    padding: 0 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin: 20px 0;
  }
  
  .card-perfil {
    border-radius: 30px 2px 30px 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    padding: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .double-info-block {
    display: flex;
    flex-direction: row;
  }
  
  .double-info-block .info-block {
    margin-right: 40px;
  }
  
  form .info-block {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }
  
  form .info-block input,
  select,
  textarea {
    margin-top: 5px;
    border-radius: 10px 0 10px 0;
    height: 30px;
    padding: 0 5px;
    border: 1px solid var(--grey-color);
  }
  
  form .info-block input:focus,
  select:focus,
  textarea:focus {
    border: 1px solid var(--secondary-color);
  }
  
  textarea {
    height: 75px !important;
  }
  
  .title-input {
    border-radius: 10px 0 10px 0;
    font-weight: 700;
    color: var(--primary-color);
    font-size: 30px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid var(--grey-color);
  }
  
  .title-input:focus {
    border: 1px solid var(--secondary-color);
  }
  