<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      VIS | plataforma de Voluntariado e Iniciativas de Solidariedade
    </title>
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png"/>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>


    <!-- MODAL CONFIRMAÇÃO ELIMINAR PROPOSTA -->
    <div id="modal-apagar-proposta" class="modal" #modal>
      <div class="modal-content">
        <h2 class="big-title">Eliminar proposta de voluntariado</h2>
        <p>
          Ao clicar em ELIMINAR esta ação de voluntariado será apagada e deixará de estar disponível. Tem a certeza que pretende continuar?
        </p>
        <div class="container-btns-modal">
          <p (click)="closeModal()" class="btn-cancelar" id="cancel-modal-apagar-proposta">cancelar</p>
          <p (click)="delete()" id="close-modal-apagar-proposta" class="btn-submit btn-close">eliminar</p>
        </div>
      </div>
    </div>

    
    <!-- NAVBAR -->
    <div class="nav-entidade">
      <img src="../../assets/img/logoVIS.png" alt="" />
      <a class="selected-tab" (click)="redirectToFeed()">propostas</a>
      <a (click)="logout()" class="btn-log-out">log out</a>
      <div class="container-profile-picture">
        <a (click)="redirectToProfile()">
          <img src="../../assets/img/user.png" alt="" />
        </a>
      </div>
    </div>


    <!-- ^------------------------------------------------------------------------------------------------------- -->
    <form >

        <div class="container-proposta-detail">

            <div>
                <div class="top-proposta-title">
                    <input name="Title" id="Title" type="text" class="title-input" (change)="titleChange()" placeholder="{{offer.title}}">
                    <div class="container-btns-editar-perfil">
                        <a (click)="redirectToOfferDetails()" class="btn-cancelar">cancelar</a>
                        <a (click)="openModal()" id="trigger-modal-apagar-proposta" class="btn-submit btn-edit btn-delete">apagar proposta</a>
                        <input (click)="saveChanges()" type="submit" value="guardar alterações" class="btn-submit btn-edit">
                    </div>
                </div>
                <div class="info-block">
                    <label for="descricao_proposta">Descrição da proposta:</label>
                    <textarea name="Description" rows="5" (change)="descriptionChange()" id="Description" placeholder="{{offer.description}}"></textarea>
                </div>

            </div>


            <div>
                <div class="double-info-block">
                    <div class="info-block">
                        <label for="data_inicio">Data de início:</label>
                        <input name="StartDate" type="date" id="StartDate" placeholder="{{offer.startDate}}" (change)="startDateChange()"/>
                    </div>
                    <div class="info-block">
                        <label for="data_fim">Data de fim:</label>
                        <input name="EndDate" type="date" id="EndDate" placeholder="{{offer.endDate}}" (change)="endDateChange()"/>
                    </div>
                    <div class="info-block">
                        <label for="total_horas">Total de horas de voluntariado:</label>
                        <input name="ExpectedVolunteeringHours" type="text" id="ExpectedVolunteeringHours" placeholder="{{offer.expectedVolunteeringHours}}" (change)="expectedVolunteeringHoursChange()"/>
                    </div>
                    <div class="info-block">
                        <label for="local">Local:</label>
                        <input type="text" id="Location" name="Location" placeholder="{{offer.location}}" (change)="locationChange()"/>
                    </div>
                </div>
                <div class="info-block">
                  <label for="area_atuacao">Área(s) de atuação:</label>
                  <select id="InterventionAreaId" name="InterventionAreaId" (change)="onInterventionAreaSelection()"> 
                    <option *ngFor="let interventionArea of interventionAreas" value="{{interventionArea.id}}" [selected]="interventionArea.id == offer.interventionAreaId">{{interventionArea.tituloVoluntario}}</option>
                  </select>
                </div>
                <div class="info-block">
                    <label for="funcoes_proposta">Funções a desempenhar:</label>
                    <textarea rows="5" id="RolesToPlay" name="funcoes_proposta" placeholder="{{offer.rolesToPlay}}" (change)="rolesToPlayChange()"></textarea>
                </div>
                <div class="info-block">
                    <label for="outras_obsv">Outras observações:</label>
                    <textarea rows="5" id="AdditionalInfo" name="AdditionalInfo" placeholder="{{offer.additionalInfo}}" (change)="additionalInfoChange()"></textarea>
                </div>
            </div>
        
            
        </div>

    </form>


    <!-- FOOTER -->

    <div class="footer">
        <div>
          <p>Todos os direitos reservados &copy; VIS 2021</p>
        </div>  
        <div class="container-logos-footer">
          <img id="es" src="../../assets/img/logoES.png">
          <img src="../../assets/img/logoISEP.png">
          <img id="p-porto" src="../../assets/img/logoPP.png">
          <img id="eeo" src="../../assets/img/logoEEO.png">
      </div>
    </div>
  </body>


  <script>
    window.onload = function () {
      var modal = document.getElementById("modal-apagar-proposta");
      var closeBtn = document.getElementById("close-modal-apagar-proposta");
      var cancelBtn = document.getElementById("cancel-modal-apagar-proposta");
      var triggerModal = document.getElementById("trigger-modal-apagar-proposta");

      triggerModal.onclick = function(){
        modal.style.display = "flex";
      }

      closeBtn.onclick = function () {
          modal.style.display = "none";
      };

      cancelBtn.onclick = function () {
          modal.style.display = "none";
      };

      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    };
  </script>

</html>
