/*Estilos gerais que afetam várias páginas*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden;

  --primary-color: #003671;
  --secondary-color: #c53f0c;
  --dark-orange: #8F2910;
  --light-color: #fdfdfd;
  --dark-color: #222222;
  --grey-color: #707070;
  --green-color: #248d18;

  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: var(--light-color);
}

body::-webkit-scrollbar
{
  width: 6px;
  background-color: var(--light-color);
}

body::-webkit-scrollbar-thumb
{
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

body::-webkit-scrollbar-thumb:hover
{
  background-color: var(--secondary-color);
}

.big-title {
  font-weight: 700;
  color: var(--primary-color);
  font-size: 30px;
}

.paragraph {
  font-size: 12px;
  color: var(--grey-color);
}

.paragraph-large{
  font-size: 16px;
  color:var(--dark-color);
  margin-top:20px;
}

.small {
  font-size: 12px;
  color: var(--grey-color);
}

form,
select,
textarea {
  font-size: 12px !important;
  color: var(--grey-color);
}

input:focus,
select:focus,
textarea:focus {
  border:solid 1px var(--primary-color);
}

textarea {
  resize: none;
  height: 50px;
  font-family: "Poppins", sans-serif;
}

textarea::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: var(--light-color);
}

textarea::-webkit-scrollbar
{
  width: 6px;
  background-color: var(--light-color);
}

textarea::-webkit-scrollbar-thumb
{
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

textarea::-webkit-scrollbar-thumb:hover
{
  background-color: var(--secondary-color);
}

.subtitle-orange {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 20px;
}

.subtitle-orange-small {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 16px;
}

.subtitle-blue {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 20px;
}

.subtitle-blue-small {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 16px;
}

.container-login {
  background: var(--light-color);
  border-radius: 50px 2px 50px 2px;
  height: 90vh;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-register {
  background: var(--light-color);
  border-radius: 50px 2px 50px 2px;
  height: 90vh;
  width: 80vw;
  padding: 30px 40px;
}

.btn-submit {
  background: var(--primary-color);
  color: var(--light-color);
  border: none;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  border-radius: 10px 2px 10px 2px;
  margin: 10px 40%;
  text-align: center;
}

.btn-submit:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.btn-info {
  margin: 0 !important;
}

.btn-cancelar{
  color:var(--grey-color);
  text-transform: uppercase;
  text-decoration:none;
  font-weight: 700;
  font-size:12px;
  margin-right:20px;
}

.btn-cancelar:hover{
  color:var(--secondary-color);
}

.footnote-login {
  font-size: 12px;
  color: var(--grey-color);
  text-align: center;
}

.footnote-login a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
}

.footnote-login a:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.title-register {
  width: 100%;
}

.footer {
  background: var(--primary-color);
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 130px;
  width: 100%;
  align-items: center;
  overflow: hidden;
  text-align: center;
  color: var(--light-color);
  font-size: 12px;
}

.container-logos-footer{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.container-logos-footer img {
  height: 30px;
  width: auto;
  margin: 0 20px;
}

.container-logos-footer #p-porto, #eeo{
  padding:5px;
}

.container-logos-footer #es{
  height: 45px;
  width: auto;
  
}

.footer a{
  color:var(--light-color);
  text-decoration: underline;
  margin-top:10px;
}

/* ÁREA DE VOLUNTÁRIOS */
 
.modal {
  /* display: none; */
  display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: center;  
  position: absolute;   
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content{
  border-radius: 30px 2px 30px 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
  padding: 40px;
  width:700px;
  display: flex;
  flex-direction: column;
  background:var(--light-color);
  position: relative;
}

.modal-content p{
  margin-bottom:40px;
  margin-top:20px;
}

.nav-landing, .nav-voluntario, .nav-entidade, .nav-admin {
  display: flex;
  background-color: var(--light-color);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
  height: 80px;
  width: 100%;
  padding: 10px 30px;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  z-index: 10;
  position: fixed;
}

.nav-landing a, .nav-voluntario a, .nav-voluntario span, .nav-entidade a, .nav-admin a {
  text-decoration: none;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.1s ease-in-out;
  border-bottom: 3px solid rgba(197, 63, 12, 0);
}

.nav-landing a:hover,.nav-voluntario a:hover, .nav-entidade a:hover, .nav-admin a:hover {
  border-bottom: 3px solid rgba(197, 63, 12, 1);
}

.selected-tab {
  border-bottom: 3px solid var(--secondary-color) !important;
}

.nav-voluntario img, .nav-entidade img {
  margin-right: 20vw;
  height: 90%;
}

.nav-admin img{
  margin-right: 40vw;
  height: 90%;
}

.notification-alert{
  height:10px;
  width:10px;
  border-radius:50%;
  background: var(--secondary-color);
  position: absolute;
  right:-5px;
  top:-5px;
  display: block;
}

.container-profile-picture {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  overflow: hidden;
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  transition: all 0.2s ease-in-out;
}

.container-profile-picture img {
  position: absolute;
  width: auto !important;
  height: 150% !important;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto !important;
}

.container-profile-picture:hover {
  border: 3px solid var(--secondary-color);
}

.btn-log-out {
  color: var(--secondary-color) !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 400px;
  height:170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  right:0;
  top:20px;
  z-index: 5;
  overflow-y: scroll;
}

.dropdown-content .subtitle-orange-small{
  text-align: center;
  margin:40px 0;
}

.dropdown-content::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: var(--light-color);
}

.dropdown-content::-webkit-scrollbar
{
  width: 6px;
  background-color: var(--light-color);
}

.dropdown-content::-webkit-scrollbar-thumb
{
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.dropdown-content::-webkit-scrollbar-thumb:hover
{
  background-color: var(--secondary-color);
}

.dropdown:hover{
  cursor: pointer;
} 

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

.notification-item{
  border-radius: 10px 2px 10px 2px;
  margin:5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
  padding:20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.btn-notification{
  transition: all 0.2s ease-in-out;
  color:var(--light-color) !important;
  margin:0 ;
  margin-top:20px;
}

.btn-notification:hover{
  background: var(--secondary-color);
}

/* ÁREA DE ENTIDADES */

.nav-entidade img{
  margin-right: 60%;
}
