<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      VIS | plataforma de Voluntariado e Iniciativas de Solidariedade
    </title>
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- NAVBAR -->
    <div class="nav-entidade">
        <img src="../../assets/img/logoVIS.png" alt="" />
        <a class="selected-tab" (click)="redirectToFeed()">propostas</a>
        <a (click)="logout()" class="btn-log-out">log out</a>
        <div class="container-profile-picture">
          <a (click)="redirectToProfile()">
            <img src="../../assets/img/user.png" alt="" />
          </a>
        </div>
    </div>

    <!-- ^------------------------------------------------------------------------------------------------------- -->

    <form action="">
      <div class="container-top-perfil">
        <div class="blue-bar-perfil"></div>
        <div class="destaque-perfil">
            <div class="container-profile-img-big">
                <img src="../../assets/img/user.png" />
            </div>
            <a class="add-photo">
                <img src="../../assets/img/editPhoto.png" >
            </a>
          <div>
            <input type="text" id="nome" class="title-input" (change)="changeName()" placeholder="{{ currentOrganization.name}}">
            <div class="info-block">
                <label for="localidade">Localidade:</label>
                <input type="text" id="localidade" name="localidade" (change)="changeLocation()" placeholder="{{ currentOrganization.location }}" />
            </div>
          </div>
          <div class="container-btns-editar-perfil">
              <a (click)="redirectToProfile()" class="btn-cancelar">cancelar</a>
              <input (click)="editProfile()" type="submit" value="guardar alterações" class="btn-submit btn-edit">
          </div>
        </div>
      </div>

      <div class="container-perfil-voluntario">
        <div>
          <div class="card-perfil">
            <h3 class="subtitle-blue">Informações gerais</h3>
            <div class="info-block">
                <label for="area">Área(s) de atuação:</label>
                <select type="text" id="area" name="area" > 
                    <option value="isep">Meio Ambiente</option>
                    <option value="iscap">Responsabilidade social</option>
                    <option value="ese">Bem-estar animal</option>
                </select>
            </div>
            <div class="info-block">
                <label for="pais_atua">País(es) onde atua:</label>
                <input type="text" id="pais_atua" name="pais_atua" (change)="changeOperatingCountries()" placeholder="{{ currentOrganization.operatingCountries }}" />
            </div>
            <div class="info-block">
                <label for="website">Website:</label>
                <input type="text" id="website" name="website" (change)="changeWebsiteUrl()" placeholder="{{ currentOrganization.websiteUrl }}" />
            </div>
            <div class="info-block">
                <label for="info_adicionais">Informações adicionais:</label>
                <textarea rows="5" id="info_adicionais" name="info_adicionais" (change)="changeAdditionalInfo()" placeholder="{{ currentOrganization.additionalInfo }}" ></textarea>
            </div>
          </div>
        </div>
        <div>
          <div class="card-perfil">
            <h3 class="subtitle-blue">Contactos</h3>
            <div class="info-block">
              <label for="representante">Pessoa de contacto:</label>
              <input type="text" id="representante" name="representante" (change)="changeRepresentativeName()" placeholder="{{ currentOrganization.representativeName }}" />
            </div>
            <div class="info-block">
              <label for="telemovel_entidade">Telemóvel:</label>
              <input type="text" id="telemovel_entidade" name="telemovel_entidade" (change)="changePhoneNumber()" placeholder="{{ currentOrganization.phoneNumber }}" />
            </div>
            <div class="info-block">
                <label for="email_entidade">Email:</label>
                <input type="email" id="email_entidade" name="email_entidade" (change)="changeEmailAddress()" placeholder="{{ currentOrganization.emailAddress }}" />
            </div>
            <div class="info-block">
                <label for="morada">Morada:</label>
                <input type="text" id="morada" name="morada" (change)="changeAddress()" placeholder="{{ currentOrganization.address }}" />
            </div>
            <div class="double-info-block">
                <div class="info-block">
                    <label for="codigo_postal">Código-postal:</label>
                    <input type="text" id="codigo_postal" name="codigo_postal" (change)="changeZipCode()" placeholder="{{ currentOrganization.postalCode }}" />
                </div>
                <div class="info-block">
                    <label for="localidade">Localidade:</label>
                    <input type="text" id="localidade" name="localidade" (change)="changeLocation()" placeholder="{{ currentOrganization.location }}" />
                </div>
            </div>
          </div>

        </div>
      </div>
    </form>

    <!-- FOOTER -->

    <div class="footer">
      <div>
        <p>Todos os direitos reservados &copy; VIS 2021</p>
      </div>
      <div class="container-logos-footer">
        <img id="es" src="../../assets/img/logoES.png">
        <img src="../../assets/img/logoISEP.png">
        <img id="p-porto" src="../../assets/img/logoPP.png">
        <img id="eeo" src="../../assets/img/logoEEO.png">
    </div>
    </div>
  </body>
</html>