<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      VIS | plataforma de Voluntariado e Iniciativas de Solidariedade
    </title>
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png"/>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- NAVBAR -->
    <div class="nav-admin">
      <img src="../../assets/img/logoVIS.png" alt="" />
      <a class="selected-tab" (click)="refresh()">propostas</a>
      <a (click)="redirectToOrganizationsList()">entidades</a>
      <a (click)="redirectToVolunteersList()">voluntários</a>
      <a (click)="redirectToMetrics()">métricas</a>
      <a (click)="logout()" class="btn-log-out" >log out</a>
    </div> 
    
    <!-- ^------------------------------------------------------------------------------------------------------- -->

    <div class="container-propostas-admin">
        <h2 class="big-title">Listagem de propostas de voluntariado</h2>
        <div class="search-line">
            <div class="container-search">
              <input type="text" placeholder="Pesquisa"/>
              <a href="">
                  <img src="../../assets/img/search.png" >
              </a>
            </div>  
        </div>
        <div class="container-grid-propostas">
          <div *ngFor="let offer of offersList" class="card-proposta">
              <div>
                  <h3 class="subtitle-blue">{{offer.title}}</h3>
                  <p>{{offer.organizationName}}</p>
              </div>
              <div *ngIf="offer.status == 0; else notPending" class="teste">
                <p class="status-proposta-pendente">pendente</p>
                <a (click)="offerDetails(offer.id)" class="btn-submit btn-info">+info</a>
              </div>
              <ng-template #notPending>
                <ng-container *ngIf="offer.status == 1;else finished">
                  <p class="status-proposta-ativo">ativo</p> 
                  <a (click)="offerDetails(offer.id)" class="btn-submit btn-info">+info</a>
                </ng-container>
                <ng-template #finished>
                  <p class="status-proposta-concluido">concluído</p>
                  <a (click)="offerDetails(offer.id)" class="btn-submit btn-info">+info</a>
                </ng-template>
              </ng-template>
          </div>
        </div>
    </div>


    <!-- FOOTER -->

    <div class="footer">
        <div>
          <p>Todos os direitos reservados &copy; VIS 2021</p>
        </div>  
        <div class="container-logos-footer">
            <img id="es" src="../../assets/img/logoES.png">
            <img src="../../assets/img/logoISEP.png">
            <img id="p-porto" src="../../assets/img/logoPP.png">
            <img id="eeo" src="../../assets/img/logoEEO.png">
        </div>
    </div>
  </body>
</html>
