body {
    background-color: var(--light-color);
  }
  
  .container-propostas-admin {
    width: 100vw;
    padding: 0 30px;
    padding-top: 40px !important;
    margin-top: 80px;
  }
  
  .btn-edit {
    height: fit-content;
    margin: 0 !important;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
  }
  
  .btn-edit:hover {
    background: var(--secondary-color);
  }
  
  .search-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .container-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
  }
  
  .container-search input {
    font-size: 12px !important;
    color: var(--grey-color);
    border-radius: 10px 0 10px 0;
    height: 30px;
    width: 400px;
    padding: 0 5px;
    border: 2px solid var(--primary-color);
  }
  
  .container-search input:focus {
    border: 2px solid var(--secondary-color);
  }
  
  .container-search a {
    background: var(--primary-color);
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 10px 0 10px 0;
    margin-left: -10px;
    transition: all 0.2s ease-in-out;
  }
  
  .container-search a:hover {
    background: var(--secondary-color);
  }
  
  .container-search a img {
    width: 100%;
    height: auto;
  }
  
  .container-grid-propostas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin: 40px 0;
  }
  
  .card-proposta {
    border-radius: 30px 2px 30px 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-proposta p {
    font-size: 12px;
    color: var(--grey-color);
    margin-top: 5px;
  }
  
  .card-proposta .btn-info {
    align-self: flex-end;
    transition: all 0.2s ease-in-out;
  }
  
  .card-proposta .btn-info:hover {
    background: var(--secondary-color);
  }

  .teste {
    display: block;
  }
  
  .status-proposta-ativo{
      color:var(--green-color) !important;
      font-size: 12px;
      text-transform: uppercase;
      text-align: right;
      margin-bottom: 10px;
  }
  
  .status-proposta-concluido{
      color:var(--primary-color) !important;
      font-size: 12px;
      text-transform: uppercase;
      text-align: right;
      margin-bottom: 10px;
  }
  
  .status-proposta-pendente{
      color:var(--grey-color) !important;
      font-size: 12px;
      text-transform: uppercase;
      text-align: right;
      margin-bottom: 10px;
  }