body {
    background-color: var(--light-color);
    position: relative;
  }
  
  .container-proposta-detail {
    width: 100vw;
    padding: 0 40px;
    padding-top: 40px !important;
    margin-top: 80px !important;
    margin-bottom: 40px;
  }
  
  .top-proposta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 40px;
  }
  
  .top-proposta-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .btn-edit {
    height: fit-content;
    margin: 0 !important;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
  }
  
  .btn-edit:hover {
    background: var(--secondary-color);
  }
  
  .card-perfil {
    border-radius: 30px 2px 30px 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    padding: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .container-profile-img-medium {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    overflow: hidden;
    position: relative;
    margin-right: 20px;
  }
  
  .container-profile-img-medium img {
    position: absolute;
    width: auto !important;
    height: 150% !important;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto !important;
  }
  
  .card-perfil-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
  
  .card-perfil-top p {
    margin-bottom: 20px;
  }
  
  .card-perfil-top a {
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
  
  .info-block {
    margin-top: 15px;
  }
  
  .double-info-block {
    display: flex;
    flex-direction: row;
  }
  
  .double-info-block .info-block {
    margin-right: 80px;
  }
  
  .btn-close {
    height: fit-content;
    margin: 0 !important;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
  }
  
  .btn-close:hover {
    background: var(--secondary-color);
  }
  
  .modal{
    display: none;
  }
  
  .container-btns-modal{
    position: absolute;
    bottom: 20px !important;
    right: 40px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .container-btns-modal p:hover{
    cursor:pointer;
  }
  
  .btn-cancelar{
    margin:0 10px !important;
  }