<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      VIS | plataforma de Voluntariado e Iniciativas de Solidariedade
    </title>
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png"/>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

    <!-- MODAL CONFIRMAÇÃO ENVIAR CANDIDATURA -->
    <div id="modal-voluntario-candidatura" class="modal" ng-style="myStyle">
      <div class="modal-content">
        <h2 class="big-title">Enviar candidatura</h2>
        <p>
          Ao clicar em CONFIRMAR os dados do seu perfil serão enviados para a entidade promotora desta ação. 
        </p>
        <div class="container-btns-modal">
          <p (click)="closeModal()" class="btn-cancelar" id="cancel-modal-candidatura">cancelar</p>
          <p (click)="onApplicationSubmit()" id="close-modal-candidatura" class="btn-submit btn-close">confirmar</p>
        </div>
      </div>
    </div>

    <!-- NAVBAR -->
    <div class="nav-voluntario">
      <img src="../../assets/img/logoVIS.png" alt="" />
      <a class="selected-tab" (click)="redirectToFeed()">voluntariado</a>
      <a (click)="redirectToApplicationList()">candidaturas</a>
      <div class="dropdown">
        <div *ngIf="notifications.length > 0" class="notification-alert"></div>

        <span>notificações</span>
        <div class="dropdown-content">
          <div *ngFor="let notification of notifications; let i=index" class="notification-item">
            <div *ngIf="notification.isNewOffer == 1; else satisfactionForm">
              <h3 class="subtitle-blue-small">Nova proposta</h3>
              <p class="small">{{notificationSentences[i]}}</p>
              <a (click)="readNewOfferNotification(notification)" class="btn-submit btn-notification">+info</a>
            </div>
            <ng-template #satisfactionForm>
              <h3 class="subtitle-blue-small">Questionário de satisfação</h3>
              <p class="small">{{notificationSentences[i]}}</p>
              <a (click)="readNewOfferNotification(notification)" class="btn-submit btn-notification">responder</a>
            </ng-template>
          </div>
          <p *ngIf="notifications.length == 0" class="subtitle-orange-small">
            Não tem nofificações novas, volte a tentar mais tarde.
          </p>
        </div>
      </div>
      <a (click)="onLogout()" class="btn-log-out">log out</a>
      <div class="container-profile-picture">
        <a (click)="redirectToProfile()">
          <img src="../../assets/img/user.png" alt="" />
        </a>
      </div>
    </div>

    <!-- ^------------------------------------------------------------------------------------------------------- -->

    <div *ngIf="offer" class="container-proposta-detail">
        <div class="top-proposta">
            <div>
                <div class="top-proposta-title">
                    <h3 class="big-title">{{ offer.title }}</h3>
                    <p *ngIf="applicationNotSent" id="trigger-modal-candidatura" class="btn-submit btn-edit" (click)="openModal()">enviar candidatura</p>
                </div>
                <p class="paragraph-large">{{offer.description}}</p>
            </div>
            <div>
                <div class="card-perfil">
                    <div class="card-perfil-top">
                        <div class="container-profile-img-medium">
                            <img src="../../assets/img/user.png">
                        </div>
                        <div>
                            <h3>{{offer.organizationName}}</h3>
                            <p>{{offer.organizationLocation}}</p>
                            <a [routerLink]="['/vProfileOrg',offer.idOrganization]" class="btn-submit btn-edit">+info</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div>
            <div class="double-info-block">
                <div class="info-block">
                    <p class="small">Data de início</p>
                    <p>{{offer.startDate}}</p>
                </div>
                <div class="info-block">
                    <p class="small">Data de fim</p>
                    <p>{{offer.endDate}}</p>
                </div>
                <div class="info-block">
                    <p class="small">Total de horas de voluntariado</p>
                    <p>{{offer.expectedVolunteeringHours}}</p>
                </div>
                <div class="info-block">
                    <p class="small">Local</p>
                    <p>{{offer.location}}</p>
                </div>
            </div>
            <div class="info-block">
                <p class="small">Funções a desempenhar</p>
                <p>{{offer.rolesToPlay}}</p>
            </div>
            <div class="info-block">
                <p class="small">Outras observações</p>
                <p>{{offer.additionalInfo}}</p>
            </div>
        </div>
     
    </div>

    <!-- FOOTER -->

    <div class="footer">
        <div>
          <p>Todos os direitos reservados &copy; VIS 2021</p>
        </div>  
        <div class="container-logos-footer">
          <img id="es" src="../../assets/img/logoES.png">
          <img src="../../assets/img/logoISEP.png">
          <img id="p-porto" src="../../assets/img/logoPP.png">
          <img id="eeo" src="../../assets/img/logoEEO.png">
      </div>
    </div>
  </body>

  <script>
    window.onload = function () {
      var modal = document.getElementById("modal-voluntario-candidatura");
      var closeBtn = document.getElementById("close-modal-candidatura");
      var cancelBtn = document.getElementById("cancel-modal-candidatura");
      var triggerModal = document.getElementById("trigger-modal-candidatura");

      triggerModal.onclick = function(){
        modal.style.display = "flex";
      }

      closeBtn.onclick = function () {
          modal.style.display = "none";
      };

      cancelBtn.onclick = function () {
          modal.style.display = "none";
      };

      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    };
  </script>
</html>
