<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      VIS | plataforma de Voluntariado e Iniciativas de Solidariedade
    </title>
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png"/>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

       <!-- MODAL ENTRAR EM CONTACTO COM CANDIDATO SELECIONADO -->
       <div id="modal-validar-participacao" class="modal" style="display: none !important;">
        <div class="modal-content">
          <h2 class="big-title">Selecionar Candidato</h2>
          <p>
            Por favor entre em contacto com o candidato através do seu email. 
          </p>
          <div class="container-btns-modal">
            <p class="btn-cancelar" id="cancel-modal-participacao">cancelar</p>
            <a href="entidade_perfil_voluntario.html" id="close-modal-participacao" class="btn-submit btn-close">ver perfil</a>
          </div>
        </div>
      </div>
    
    <!-- NAVBAR -->
    <div class="nav-entidade">
      <img src="../../assets/img/logoVIS.png" alt="" />
      <a class="selected-tab" (click)="redirectToFeed()">propostas</a>
      <a href="index.html" class="btn-log-out">log out</a>
      <div class="container-profile-picture">
        <a (click)="redirectToProfile()">
          <img src="../../assets/img/user.png" alt="" />
        </a>
      </div>
    </div>


    <!--------------------------------------------------------------------------------------------------------- -->

    <div *ngIf="offer" class="container-proposta-detail">
        <div class="top-proposta">
            <div>
                <div class="top-proposta-title">
                  <div>

                    <div *ngIf="offer.status == 0; else notPending">
                      <p class="status-proposta-pendente">pendente</p>
                    </div>
                    <ng-template #notPending>
                      <ng-container *ngIf="offer.status == 1;else finished">
                        <p class="status-proposta-ativo">ativo</p> 
                      </ng-container>
                      <ng-template #finished>
                        <p class="status-proposta-concluido">concluído</p>
                      </ng-template>
                    </ng-template>
                    <h3 class="big-title">{{ offer.title }}</h3>
                  </div>
                    <a (click)="editOffer()" class="btn-submit btn-edit">editar proposta</a>
                </div>
                <p class="paragraph-large">{{ offer.description }}</p>
            </div>
            <div>
                <div class="card-perfil">
                    <div class="card-perfil-top">
                        <div class="container-profile-img-medium">
                            <img src="../../assets/img/user.png">
                        </div>
                        <div>
                            <h3>{{ offer.organizationName }}</h3>
                            <p>{{ offer.organizationLocation }}</p>
                            <a (click)="redirectToProfile()" class="btn-submit btn-edit">+info</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div>
            <div class="double-info-block">
                <div class="info-block">
                    <p class="small">Data de início</p>
                    <p>{{offer.startDate}}</p>
                </div>
                <div class="info-block">
                    <p class="small">Data de fim</p>
                    <p>{{offer.endDate}}</p>
                </div>
                <div class="info-block">
                    <p class="small">Total de horas de voluntariado</p>
                    <p>{{offer.expectedVolunteeringHours}}</p>
                </div>
                <div class="info-block">
                    <p class="small">Local</p>
                    <p>{{offer.location}}</p>
                </div>
            </div>
            <div class="info-block">
                <p class="small">Área(s) de atuação</p>
                <p>{{ interventionAreaTitle }}</p>
            </div>
            <div class="info-block">
                <p class="small">Funções a desempenhar</p>
                <p>{{offer.rolesToPlay}}</p>
            </div>
            <div class="info-block">
                <p class="small">Outras observações</p>
                <p>{{offer.additionalInfo}}</p>
            </div>
        </div>
     
        <div class="card-perfil lista-candidatos">
          <h3 class="subtitle-blue">Histórico de voluntariado</h3>
    
          <div *ngIf="currentCandidates" class="container-lista-candidatos">
            <div *ngFor="let candidate of currentCandidates; let i=index" class="card-candidato">
              <div>
                <h3 class="subtitle-blue">{{ candidate.fullName }}</h3>
                  <p>{{ currentCandidatesSchools[i] }}</p>
              </div>
              <div class="card-candidato-right">
                <a href="entidade_perfil_voluntario.html" class="btn-submit btn-info btn-negative">não selecionar</a>
                <a href="entidade_perfil_voluntario.html" class="btn-submit btn-info btn-positive">selecionar</a>
                <a [routerLink]="['/oProfileVol',candidate.id]" class="btn-submit btn-info">+info</a>
              </div>
            </div>
          </div>
    
        </div>
    </div>

    <!-- FOOTER -->

    <div class="footer">
        <div>
          <p>Todos os direitos reservados &copy; VIS 2021</p>
        </div>  
        <div class="container-logos-footer">
          <img id="es" src="../../assets/img/logoES.png">
          <img src="../../assets/img/logoISEP.png">
          <img id="p-porto" src="../../assets/img/logoPP.png">
          <img id="eeo" src="../../assets/img/logoEEO.png">
      </div>
    </div>
  </body>
</html>
